.cabecalho{
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.cabecalho .cabecalho__banner{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 0;

}
.cabecalho .cabecalho__banner .banner__img {
    width: 100%;
}

.cabecalho__group{
    max-width: 826px;
    text-align: center;
    z-index: 1;
}

.group__title{
    color: #ffffff;
    font-weight: bolder;
    font-size: 74px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;

}
.cabecalho .group__subtitle{
    color: #ffffff;
    font-size: 28px;
    margin-bottom: 70px;

}

.cabecalho .group__button{

    background-color: #2091f9;
    padding: 16px;
    color: #ffffff;
    text-decoration: none;
    width: 236px;
    font-size: 20px;
    display: inline-block;
    border-radius: 200px;
    text-align: center;

}